<ion-header>
  <ion-toolbar>
    <ion-title>
      Nextflow Scroll
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
    <ion-row>
      <ion-col>
        
          <img src="assets/board.png" alt="">
        
      </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
            <div scrollY="true" id="myFixZone">
                <ion-list *ngFor="let item of list" buttons="true">
                  <ion-item>
                    {{ item }}
                  </ion-item>
                </ion-list>
              </div>
        </ion-col>
      </ion-row>
    
  </ion-grid>
  

    
</ion-content>